@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Titillium+Web:wght@600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    /* importante colocar para as alturas ficarem certas */
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    cursor: url(../assets/icon1.cur), auto;
}

ul, h1, h2, h3, p{
    margin-bottom: 0;
}


h3 {
    font-size: 18px;
}

p{
    line-height: 1.3em;
}
/* ----------------------------------------------- */

/* início estilização da nav */

header{
    height: 80px;
    background-color: #1E1C21;
}

.container-grid{
    width: 1200px;
    margin: auto;
    
}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* significa que ele vai ter 100% da altura do pai */
    height: 100%;
}

.topo nav{
    width: 660px;
}

.logo-eplayers{
    width: 280px;
}

.menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.menu a {
    color: #fff;
    text-decoration: none;
    /* interpreta como texto */
    text-transform: uppercase;
}


.menu a:hover{
    text-decoration: underline;
    text-shadow: 0px 0px 20px #fff;
}

/* fim estilização nav */

/* ----------------------------------------- */

/* início estilização banner */

.banner{
    height: 610px;
    /* background-image: url(../assets/Banner_1_1920.jpg); */
    background-repeat: no-repeat;
    background-position: center;
}

.primeiro-banner{
    background-image: url(../assets/Banner_1_1920.jpg);
}

.segundo-banner{
    background-image: url(../assets/Banner_2_1920.jpg);
}

.terceiro-banner{
    background-image: url(../assets/Banner_3_1920.png);
}

.conteudo-banner{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.texto-banner{
    color: #fff;
    /* deixa um em baixo do outro  */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-banner h1{
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 80px;
}

.texto-banner p{
    font-size: 25px;
}

.texto-banner a{
    font-size: 25px;
    color:#fff;
    text-decoration: none;
    /* deixa em caps lock */
    text-transform: uppercase;
    font-weight: bold;
    /* background-color: #C20000; */
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 60px;
}

.primeiro-banner a{
    background-color:#C20000;
}

.segundo-banner a{
    background-color: #001f70;
}

.terceiro-banner a {
    background-color: #c76b00;
}



/* fim estilização banner */

/* --------------------------------------------- */

/* início estilização Logo Jogos */

.jogos{
    height: 120px;
    background-color: #000;
}

.conteudo-jogos{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo-jogos img{
    max-width: 220px;
    transition: 0.5s;
}

.conteudo-jogos a:hover img{
    transform: scale(1.4);
    transition: 0.5s;
}

/* fim estilização logo jogos */

/* -------------------------------------------------- */

/* início estilização sobre */

.sobre{
    height: 490px;
    /* background-image: url(../assets/bg-lol.jpg); */
    position: relative;
    background-image: linear-gradient(rgba(0, 31, 112, 70%),rgba(0, 31, 112, 70%)), url("../assets/bg-lol.jpg");
    /* efeito parallaxe */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.container-faixa{
    height: 100%;
    display: flex;
    align-items: center;
}

.faixa{
    background-color: black;
    height: 85%;
    width: 100%;
    /* inclinar barra */
    transform: skewY(-3deg);
}

.conteudo-sobre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}


.conteudo-sobre img{
    width: 510px;

}

.texto-sobre{
    width: 525px;
    height: 350px;
    /* ficar um embaixo do outro bonitinho */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.texto-sobre h2{
    font-size: 35px;
}

.texto-sobre p{
    font-size: 18px;
}

/* fim estilização sobre */

/* ------------------------------------------- */

/* início estilização eventos */

.eventos{
    height: 120px;
    background-color: #000;
    color: #fff;
    /* font-size: 25px; */
}

.container-eventos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container-eventos h2{
    text-transform: uppercase;
    width: 90px;
}

.partida-eventos{
    display: flex;
    align-items: center;
    height: 55px;
    width: 227px;
    justify-content: space-between;
}

.partido-eventos p{
    font-size: 25px;
}

.faixa-eventos{
    height: 70px;
    border: 1px solid #fff;
}

.versus{
    font-weight: bold;
}

/* fim estilização eventos */

/* ------------------------------------------------ */

/* início estilização notícias */

.noticias-jogos{
    background-color: #1e1c21;
    color: #fff;
}

.container-noticias-jogos{
    display: flex;
    justify-content: space-between;
}

.card-noticia{
    height: 333px;
    width: 215px;
    background: linear-gradient(rgb(103, 103, 103), rgb(0, 0, 0) );
    box-shadow: 1px 1px 20px 4px #000;
}

.card-noticia img{
    width: 100%;
}

.card-noticia h3{
    /* distância entre um elemento e outro */
    margin: 10px 0;
    text-transform: uppercase;

}

.card-noticia h3, .card-noticia p{
    margin-left: 10px;
    
}

.grupo-cards{
    display: flex;
    /* quebra a linha para os elementos não ficarem espremidos */
    flex-wrap: wrap;
    width: 821px;
    height: 777px;
    justify-content: space-between;
}

.proxima-partida {
    text-align: center;
    width: 189px;
}

.times{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}

.versus-proximo{
    font-size: 20px;
    font-weight: bold;
}

.grupo-proximos-jogos{
    background: linear-gradient(rgb(0, 0, 0),rgb(100, 100, 100), rgb(0, 0, 0));
    box-shadow: 1px 1px 20px 4px #000;
    width: 237px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 725px;
}

.container-noticias-jogos h2{
    margin-top: 25px;
    margin-bottom: 15px;
}

/* fim estilização notícias */

/* ----------------------------------------------------- */

/* início estilização footer */

footer{
    height: 250px;
    background-color: #000;
    font-family: 'Titillium Web', sans-serif;
}

.links{
    color: #fff;
    /* text-decoration: none; */
}

.links a{
    color: #fff;
    text-decoration: none;
    font-family: 14px;
}
.links h2{
    font-size: 24px;
}


.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.links-footer{
    display: flex;
    width: 350px;
    justify-content: space-between;
}


.links ul{
    margin-left: 40px;
}

.newletter-midias{
    color: #fff;

}
.newsletter p{
    font-size: 16px;
    font-weight: 600;
}

.newsletter{
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsletter form{
    height: 39px;
    display: flex;
}

.newsletter input{
    height: 100%;
    border: none;
    
}

/* dentro de .newsletter, todo input com o atributo type="email", terá determinada altura */
.newsletter input[type=email]{
    width: 195px;
    font-size: 24px;
}

.newsletter input[type=submit]{
    width: 156px;
    background-color: #001f70;
    color: #fff;
    font-size: 24px;
    transition: 0.5s;
}

/* quando o usuário passa com o mouse por cima do botão , aparece a mãozinha */
.newsletter input[type=submit]:hover {
    background-color: blue;
    cursor: pointer;
    transition: 0.5s;
}


/* utiliza pseudo-elemento */
.newsletter input[type=email]::placeholder{
    color: #b8b3b3;

}

.midias-sociais{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.midias-sociais p{
    font-size: 23px;
}

.midias-sociais a{
    height: 100%;
}

.midias-sociais img{
    height: 100%;
}

.newletter-midias{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 172px;
}

/* fim estilização footer */



